body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-header,
.features,
.hotel-search,
.main-footer,
.filters,
.catalog {
  text-transform: uppercase;
}

.site-navigation,
.features-list,
.features-item-list {
  list-style: none;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.form-title a {
  font-size: 21px;
  color: #ffffff;
  line-height: 26px;

  background-color: #766357;
}

.form-title a:hover,
.form-title a:focus {
  background-color: #604e43;
}

.form-title a:active{
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.main-header {
  width: 100%;
  height: 56px;
  margin-bottom: -14px;
}

.main-navigation {

  position: relative;
}

.site-navigation {
  display: flex;
  align-items: center;

  height: 56px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.main-header-logo {
  width: 138px;
  height: 70px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:first-child {
  margin-left: 6%;
}

.site-navigation li:last-child {
  margin-right: 6%;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 0;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.banner {
  text-align: center;

  width: 1200px;
  margin-bottom: 60px;
  padding-top: 76px;
  padding-bottom: 79px;

  background-image: url(../img/background-header.jpg);
  background-repeat: no-repeat;
  background-position: 0 -56px;
}

.banner img {
  width: 459;
  height: 353;
}

.features {
  text-align: center;
  line-height: 21px;

  margin-bottom: 55px;

  background-color: #ffffff;
}

.index-headline {
  width: 573px;

  margin-left: auto;
  margin-right: auto;
}

.features h3 {
  font-size: 21px;
}

.features h1 {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

}

.features-list .features-item-big {
  color: #ffffff;

  background-color: #81b3d2;
}

.features-item-list {
  background-color: #ffffff;
}

.features-item-list h3 {
  color: #000000;
}

.features-item-list p {
  color: #333333;
}

.features-item-small {
  background-color: #eeeeee;
}

.hotel-search {
  line-height: 24px;

  text-align: center;
  background-color: #ffffff;
}

.hotel-search b {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-form-item {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.search-form-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;

  border: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: #94b9d2;

  background-color: #5496bd;
}


.main-footer {
  display: flex;
  justify-content: space-around;

  background-color: #f9fbf6;
}

.main-footer b {
  font-size: 21px;
  font-weight: bold;
}

.inner .container {
  background: url(../img/filter-background.jpg) top no-repeat;
}

.filters,
.catalog,
.inner-footer {
  padding: 0 73px;
}

.catalog {
  background-color: #fefefe;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  display: flex;
  justify-content: space-between;
}

.hotel-info-container {
  display: flex;
}

.catalog-item-image {
  margin-right: 30px;
}

.hotel-information {
  display: flex;
  flex-direction: column;
}

.hotel-caption a {
  color: #000000;
}

.catalog h3 a:hover,
.catalog h3 a:focus {
  color: #81b3d2;
}

.catalog h3 a:active {
  color: #cacaca;
}

.catalog h3 {
  font-size: 21px;
  font-weight: bold;
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}

.button-booking:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.catalog-item-rate b {
  color: #666666;
  font-weight: normal;
}
